<!-- @room.messages.includes(:user)を引数として受け取っているためmessage=紐付いたroomのmessageとなる? -->
<div class="message">
  <div class="message_header">
    <div class="message_name">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name %><%# messagesテーブルのuser_idに紐づいているユーザー名を取得  %>
    </div>
    <div class="message_time">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %><%# messagesテーブルのcreated_atカラムから作成時間を取得 %>
    </div>
  </div>
  <div class="message_footer">
    <div class="message_comment">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content %><%# messagesテーブルのcontentカラムからメッセージ内容を取得 %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
    <%# ヘルパーメソッドimage_tagで画像のパス(モデル名.has_one_attachedで紐付けたカラム名)を指定。
        更にvariantメソッドで画像のサイズを指定している。(指定したサイズは超えず縦横比は守られる)
        if文でファイルが添付されているときのみ読み込まれるよう処理している %>
  </div>
</div>