<div class="user_nav">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    <%# link_to '表示される文字', URIパス %>
  </div>
  <div class="chat_create">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="room_select">
  <% current_user.rooms.each do |room| %>
  <%# roomsテーブルからログインユーザーが所持しているroomをeachで1つずつ取り出している。 %>
    <div class="room">
      <div class="room_name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>